.QR {
  box-shadow: var( --qr-box-shadow );
  animation: spin-zoom 1.5s ease-in-out 1;
  transform: translateZ( 0 );
}
  .QR.QR--svg {
    padding: 1.5rem;
  }

a > .QR {
  position: relative;
  transition: ease .75s top, ease .75s left, ease .125s box-shadow;
}

a:active > .QR {
  top: .75rem;
  left: .75rem;
  box-shadow: 0 0 .75rem rgba( 0, 0, 0, 0.5 );
}

.qr-container {
  position: relative;
}
