.App {
  height: 100%;
  /* margin-top: -5.4rem; */
  display: flex;
  flex-direction: column;
}
  .App__header,
  .App__footer {
    padding: 1.5rem 0;
  }
  .App__header {
    background-color: white;
    text-align: center;
  }
  .App__heading {
    margin: 0;
  }
  .App__content {
    flex: 1;
  }
